{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold">Erreur</h1>
        <p>Une erreur est survenue. Veuillez réessayer plus tard.</p>
    </div>
{% endblock %}
