{# templates/components/form_field.html.twig #}

<div class="w-full">
    <div class="flex gap-1">
        {{ form_label(field, null, {
            'label_attr': {
                'class': "block text-sm mb-1 font-medium text-gray-900"
            }
        }) }}
        {% if field.vars.required %}
            <span class="text-xs text-red-500">*</span>
        {% endif %}
    </div>
    {{ form_widget(field, {
        'attr': {
            'style': style|default(''),
            'class': "block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 ring-[1px] ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-[1px] focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        }
    }) }}
    <div class="text-xs mt-1 !text-red-500">
        {{ form_errors(field) }}
    </div>
</div>
